# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
.editorconfig
#development Files
config.js

# Docker
Dockerfile
docker-compose.yml

# Exclude specific Directories
/.vscode